language: node_js
node_js:
  - node

cache:
  directories:
    - node_modules

before_script:
  - npm install canvas-sketch-cli -g
  - chmod +x build.sh

script: build.sh

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: build
  on:
    branch: master
